{% for entity in servicios %}
            <tr>
                <td>{{ entity.empresa }}</td>
                <td>{{ entity.nombre }}</td>                            
                <td>{% if entity.hora %}{{ entity.hora|date('H:i') }}{% endif %}</td>                            
                <td>{{ entity.plataforma }}</td>                            
                <td><span class="label {{ entity.estadoColor ? 'label-' ~ entity.estadoColor : '' }}">{{ entity.estadoTexto }}</span></td>                            
            </tr>
{% endfor %}
