{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Servicio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ entity.hora }}</td>
            </tr>
            <tr>
                <th>Tipofrecuencia</th>
                <td>{{ entity.tipoFrecuencia }}</td>
            </tr>
            <tr>
                <th>Frecuencia</th>
                <td>{{ entity.frecuencia }}</td>
            </tr>
            <tr>
                <th>Fechainicial</th>
                <td>{{ entity.fechaInicial|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaproxima</th>
                <td>{{ entity.fechaProxima|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechahasta</th>
                <td>{{ entity.fechaHasta|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('servicios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('servicios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
